*{
	margin: 0px;
	padding: 0px;
}
a{
	color: #000;
}
h2{
	display: block;
	margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
body{
	-webkit-font-smoothing: antialiased;
	background: #fff;
}

html{
	font-family: montserrat regular,sans-serif,microsoft yahei;
}
.content{
	width: 100%;
	height: 100%;
	background: #fff;
}
.menu_body{
	width: 100%;
	margin-top: 20px;
	padding: 35px 0 0;
	height: 555.24px;
	/*background: khaki;*/
}



.menu_body .ul_first{
	width: 20000px;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	/*background: hotpink;*/
}

.menu_body .li_first{
	border-right: 1px solid orange;
	margin: 0px;
	box-sizing: border-box;
	width: 505px;
	height: 520.24px;
	float: left;
}

.menu_body .h2_1{
	position: absolute;
	width: 504px;
	height: 29.2px;	
	padding: 0 0 10px;
	margin: -30px 0 30px;
	font-size: .875rem;
	font-family: montserrat light,sans-serif,"microsoft yahei";
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
	text-align: center;
}

.menu_body .h2_1 span{
	width: 62px;
	display: block;
	height: 29.2px;
	border-bottom: 1px solid #333;
	margin-left: 220px;
}

.menu_body .body_1{
	position: relative;

	width: 504px;
	height: 520px;
	float: left;
}


.menu_body .body_1_1 {
	position: absolute;
	width: 50%;
	padding: 10px 0 0 10px;	
	/*box-sizing: border-box;*/
	font-size: 14px;
	color: #000;
	/*text-transform: lowercase;*/
/*	z-index: 1;*/
	/*background: lavender;*/
	height: 40px;
}

.menu_body .body_1x{
	position: relative;
	text-align: center;
	max-width: 300px;
	margin-top: 40px;
	margin: 0 auto;
	display: block;
	/*background: lightblue;*/
	width: 300px;
	height: 315px;
}

.body_1x .rm2{
	width: 300px;
	height: 250px;
	padding-top: 53px;
}

.body_1x li{
	width: 300px;
	height: 250px;
}
.body_1x li img{
	width: 250px;
	height: 250px;
}

.menu_body .body_2x {
	width: 352px;
	height: 55px;
	text-align: center;
	font-size: 14px;
	color: #333;
	margin: 0px auto;
	line-height: 55px;
}

.body_1 h3{
	width: 352px;
	height: 40px;
	color: #666;
	text-align: center;
	font-size: 12px;
	
    font-weight: bold;
    margin: 0px auto;
    
}

.body_1 .start{
	padding-bottom: 6px;
	text-align: center;
	color: #333;
	font-size: 14px;
	
}

.body_1 .price{
	width: 505px;
	height: 60px;
	text-align: center;
	margin: 25px 0px;
	position: relative; 
}

.price .price_1{
	width: 100px;
	/*height: 60px;*/
	float: left;  
    background: #464646; 
    line-height: 60px;
    text-align: center;
    margin-left: 150px;
}

.price .price_2{
	width: 100px;
	/*height: 35px;*/
	float: left;  
    background: #000; 
    line-height: 60px;
    text-align: center;
}

.price .price_1 a{
	display: block;
	height: 35px;
	width: 100px;
	font-size: 14px;
	color: #fff;
	text-align: center; 
	line-height: 35px;
	font-family:  montserrat regular,sans-serif,microsoft yahei;;
}

.price .price_2 a{
	display: block;
	height: 35px;
	width: 100px;
	font-size: 14px;
	color: #fff;
	text-align: center; 
	line-height: 35px;
	font-family: montserrat regular,sans-serif,microsoft yahei;
}